__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

venv/
env/
.venv/

.ipynb_checkpoints/

*.env
.env

.streamlit/secrets.toml
.streamlit/*.log

*.db
*.sqlite
*.sql
orders_flat.csv

*.zip
*.tar.gz
*.7z

.vscode/
*.code-workspace

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

*.log

node_modules/
